@font-face {
  font-family: "sim";
  src: url(../fonts/simhei.woff) format("woff");
}

@font-face {
  font-family: "THE";
  src: url(../fonts/THE.woff) format("woff");
}

.top-link {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-link > a:not(:last-child) img {
  width: 2.4vw;
  margin: 0 1vw;
}

.top-link a:last-child {
  position: fixed;
  top: 5vw;
  z-index: 1;
}

.top-link a:last-child > img {
  width: 3vw;
}

.logo {
  background-image: url(../images/logo.jpg);
  width: 135px;
  height: 150px;
  margin: -2.6vw 18.5px 0 18.5px;
}

.nav1 {
  text-align: center;
  padding: 0;
}

.nav1 a {
  position: relative;
}

.nav1 a:not(.logo) {
  line-height: 100px;
  padding: 0;
  margin: 0 37.5px;
  height: 100px;
  width: 100px;
  font-size: 18px;
  font-family: "sim";
  color: black;
}

.nav1 a:not(.logo)::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background-color: #FDBBFF;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav1 a:not(.logo):hover::before {
  content: '';
  width: 70px;
  height: 70px;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #FDBBFF;
  top: 15px;
}

.nav1 > .mini-button {
  border-radius: 0;
  border: 0;
  padding: 0;
  width: 10vw;
  height: 8vw;
  background-image: url(../images/mini-navbar3.png);
  background-size: contain;
  background-repeat: no-repeat;
}

/*.navbar-toggler-icon {
            background-image: url(../images/mini-navbar2.png);
        }*/
.down {
  position: absolute;
  width: 6vw;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 2;
}

.cc {
  padding-bottom: 10px;
  background-image: url(../images/banner/mbg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

h2,
.purchase-process > h3 {
  text-align: center;
  font-family: "THE";
  color: #9c71ff;
  margin: 0 auto;
  padding: 3vh 0 2vh 0;
  position: relative;
  width: 44vw;
  font-size: 2.1vw;
}

h2 > span,
.purchase-process > h3 > span {
  font-family: "sim";
  color: #303030;
  font-size: 1.6vw;
}

h2::before,
.purchase-process > h3::before {
  content: '';
  position: absolute;
  width: 10.5vw;
  height: 1px;
  background-color: #303030;
  top: 0;
  bottom: 0;
  left: -15%;
  margin: auto;
}

h2::after,
.purchase-process > h3::after {
  content: "";
  position: absolute;
  width: 10.5vw;
  height: 1px;
  background-color: #303030;
  top: 0;
  bottom: 0;
  right: -15%;
  margin: auto;
}

.nav2 {
  padding: 0;
}

.nav2 ul {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.nav2 a {
  padding: 0;
  text-align: center;
  font-size: 4vmin;
  font-family: "THE";
  color: #303030;
}

.nav2 a img {
  width: 16vmin;
}

.main-product {
  padding: 0;
}

.main-product .row {
  margin: 0;
}

.main-product .col {
  padding: 0;
}

.main-product .col:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-product .circle {
  position: relative;
  border-radius: 50%;
  -webkit-box-shadow: -5px 0px 0px 0px rgba(228, 173, 173, 0.61) inset;
          box-shadow: -5px 0px 0px 0px rgba(228, 173, 173, 0.61) inset;
  background-color: white;
  width: 29.5vw;
  height: 29.5vw;
}

.main-product .circle > .big-product {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 50%;
  border: 3px solid #F8C7D9;
  width: 95%;
  height: 95%;
  background-image: url(../images/cake.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main-product .circle > .big-product:hover {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background-image: none !important;
}

.main-product .circle > .big-product:hover::before {
  top: 30px;
  left: 250px;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.main-product .circle > .big-product:hover::after {
  top: -360px;
  right: 260px;
  -webkit-transform: rotate(140deg);
          transform: rotate(140deg);
}

.main-product .circle > .big-product:hover + .cat {
  -webkit-transition: 1s;
  transition: 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-product .circle > .big-product::before {
  content: '';
  display: block;
  border-style: solid;
  width: 0;
  height: 0;
  border-width: 0px 10px 10px 10px;
  border-color: transparent transparent #F8C7D9 transparent;
  position: absolute;
  top: -12px;
  left: 0;
  right: 0;
  margin: auto;
}

.main-product .circle > .big-product::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0px 10px;
  border-color: #F8C7D9 transparent transparent transparent;
  position: absolute;
  bottom: -12px;
  left: 0;
  right: 0;
  margin: auto;
}

.main-product .circle .cat {
  display: none;
  padding: 0 10%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main-product .circle .cat .eye {
  width: 100px;
  height: 100px;
  border-radius: 50% 5% 50% 5%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border: 1px solid #505050;
  margin-top: 30%;
}

.main-product .circle .cat .eye .addtocart {
  color: #505050;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid #505050;
  position: absolute;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 5em;
  text-align: center;
  line-height: 100%;
}

.main-product .circle .cat .nose {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #505050;
  margin-top: 70%;
}

.main-product .circle .cat .nose::before {
  content: '';
  position: absolute;
  z-index: 0;
  top: 45px;
  bottom: 0;
  left: -100px;
  right: 0;
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-color: transparent transparent #505050 #505050;
  border-style: solid;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.main-product .circle .cat .nose::after {
  content: '';
  position: absolute;
  z-index: 0;
  top: 45px;
  bottom: 0;
  left: 0;
  right: -100px;
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-color: transparent transparent #505050 #505050;
  border-style: solid;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.main-product .mini-product-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main-product .mini-product-box > .mini-product {
  border-radius: 50%;
  width: 5.2vw;
  height: 5.2vw;
  border: 4px solid white;
  cursor: pointer;
}

.main-product .mini-product-box > .mini-product:nth-child(1), .main-product .mini-product-box > .mini-product:nth-child(5) {
  margin-left: -3.5vw;
}

.main-product .mini-product-box > .mini-product:nth-child(2), .main-product .mini-product-box > .mini-product:nth-child(4) {
  margin-left: -0.5vw;
}

.main-product .mini-product-box > .mini-product:nth-child(3) {
  margin: 1vw 0 1vw 1vw;
}

.main-product .product-textbox {
  width: 16vmax;
  height: 16vmax;
  background-color: rgba(179, 221, 255, 0.603);
  -webkit-box-shadow: 5px 5px 10px 10px rgba(255, 118, 221, 0.158);
          box-shadow: 5px 5px 10px 10px rgba(255, 118, 221, 0.158);
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.main-product .product-textbox > h3 {
  text-align: center;
  font-family: "THE";
  font-size: 2vmax;
  color: #303030;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.main-product .product-textbox > p {
  height: 14vmin;
  overflow: hidden;
  font-family: "THE";
  font-size: 1.4vmax;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  color: #505050;
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.purchase-process {
  margin-top: 50px;
  padding: 0 0 1vw 0;
  background: -webkit-gradient(linear, left top, right top, from(#fff), to(rgba(215, 236, 255, 0.829)));
  background: linear-gradient(90deg, #fff, rgba(215, 236, 255, 0.829));
}

.purchase-process > h3 {
  color: #7BC3FF;
}

.purchase-process .processes-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 5vw;
}

.purchase-process .processes-box > .processes {
  -webkit-transition: .3s;
  transition: .3s;
  font-family: "THE";
  position: relative;
  text-align: center;
  height: 400px;
  width: 300px;
  border: 2px solid rgba(123, 196, 255, 0.5);
  background-color: #fff;
  -webkit-box-shadow: 10px 10px 20px 1px rgba(0, 0, 0, 0.247);
          box-shadow: 10px 10px 20px 1px rgba(0, 0, 0, 0.247);
}

.purchase-process .processes-box > .processes:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 2px solid #7bc4ff;
}

.purchase-process .processes-box > .processes:hover:not(:last-child)::after {
  -webkit-animation: ltor 1s infinite;
          animation: ltor 1s infinite;
}

@-webkit-keyframes ltor {
  form {
  }
  to {
    background-position: 31px 0;
  }
}

@keyframes ltor {
  form {
  }
  to {
    background-position: 31px 0;
  }
}

.purchase-process .processes-box > .processes:hover::before {
  border: 2px solid #7bc4ff;
  border-right: 2px solid rgba(255, 255, 255, 0);
  border-bottom: 2px solid rgba(255, 255, 255, 0);
}

.purchase-process .processes-box > .processes::before {
  content: '';
  display: block;
  margin: -75px auto 0 auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid rgba(123, 196, 255, 0.5);
  border-right: 2px solid rgba(255, 255, 255, 0);
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #fff;
}

.purchase-process .processes-box > .processes:not(:last-child)::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: -55px;
  bottom: 0;
  margin: auto;
  width: 31px;
  height: 28px;
  background-image: url(../images/right-8.png);
}

.purchase-process .processes-box > .processes > img {
  position: relative;
  margin-top: -200px;
}

.purchase-process .processes-box > .processes > h4 {
  font-size: 25px;
  color: #303030;
}

.purchase-process .processes-box > .processes > span {
  padding: 5px;
  font-size: 18px;
  color: #505050;
}

.surroundings {
  color: #FFC17D;
}

.surroundings-box {
  position: relative;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  overflow: hidden;
}

footer {
  font-family: "THE";
  color: #fff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #351327;
  text-align: left;
}

footer > a > img {
  width: 10vw;
}

footer p {
  width: 55%;
  padding: 0 20px;
  line-height: 30px;
  font-size: 1.2vw;
}

footer span {
  font-family: "sim";
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 1vw;
}

/*---------------------------------------------------------------------------*/
@media (max-width: 992px) {
  .top-link {
    padding: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .top-link > a:not(:last-child) img {
    width: 7vw;
    margin: 1vw 0vw;
  }
  .top-link a:last-child {
    position: fixed;
    top: 30vw;
    z-index: 1;
  }
  .top-link a:last-child > img {
    width: 5vw;
  }
  .nav1 {
    background-color: #fff;
    position: absolute;
    z-index: 10;
  }
  .nav1 .logo {
    display: none;
  }
  h2,
  .purchase-process > h3 {
    padding: 3vh 0 2vh 0;
    font-size: 5vw;
  }
  h2 > span,
  .purchase-process > h3 > span {
    font-size: 4vw;
  }
  h2::before,
  .purchase-process > h3::before {
    width: 10.5vw;
    height: 1px;
  }
  h2::after,
  .purchase-process > h3::after {
    width: 10.5vw;
    height: 1px;
  }
  .main-product {
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, white), to(#ffdde6));
    background: linear-gradient(90deg, white 50%, #ffdde6 100%);
  }
  .main-product .col:nth-child(1) {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main-product .col .circle {
    width: 85vw;
    height: 85vw;
  }
  .main-product .col .circle > .big-product {
    border: 1px solid #F8C7D9;
    width: 95%;
    height: 95%;
  }
  .main-product .col .circle > .big-product::before {
    border-width: 0px 9px 9px 9px;
    top: -10px;
  }
  .main-product .col .circle > .big-product::after {
    border-width: 9px 9px 0px 9px;
    bottom: -10px;
  }
  .main-product .col .circle > .big-product:hover {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    background-image: none;
  }
  .main-product .col .circle > .big-product:hover::before {
    top: 10px;
    left: 150px;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  .main-product .col .circle > .big-product:hover::after {
    top: 10px;
    right: 150px;
    -webkit-transform: rotate(150deg);
            transform: rotate(150deg);
    margin: 0 auto;
  }
  .main-product .col .circle > .big-product:hover + .cat {
    -webkit-transition: 1s;
    transition: 1s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-product .col .mini-product-box {
    margin-right: 1vw;
  }
  .main-product .col .mini-product-box > .mini-product {
    width: 10vw;
    height: 10vw;
    background-color: #fff;
    border: 2px solid white;
  }
  .main-product .col .mini-product-box > .mini-product:nth-child(1), .main-product .col .mini-product-box > .mini-product:nth-child(5) {
    margin-left: 0vw;
  }
  .main-product .col .mini-product-box > .mini-product:nth-child(2), .main-product .col .mini-product-box > .mini-product:nth-child(4) {
    margin-left: 0vw;
  }
  .main-product .col .mini-product-box > .mini-product:nth-child(3) {
    margin: 0vw 0 0vw 0vw;
  }
  .purchase-process .processes-box {
    margin-top: 10vw;
  }
  .purchase-process .processes-box > .processes {
    height: 50vw;
    width: 30vw;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.247);
            box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.247);
  }
  .purchase-process .processes-box > .processes::before {
    content: '';
    margin: -7.5vw auto 0 auto;
    width: 15vw;
    height: 15vw;
  }
  .purchase-process .processes-box > .processes:not(:last-child)::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 5;
    top: -60vw;
    right: -5vw;
    margin: auto;
    width: 6vw;
    height: 4vw;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/right-8.png);
  }
  .purchase-process .processes-box > .processes > img {
    position: relative;
    margin-top: -20vw;
    width: 8vw;
  }
  .purchase-process .processes-box > .processes > h4 {
    font-size: 5vw;
    color: #303030;
  }
  .purchase-process .processes-box > .processes > span {
    padding: 0px;
    font-size: 3vw;
    color: #505050;
  }
  footer {
    font-family: "THE";
    color: #fff;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #351327;
  }
  footer > a {
    text-align: center;
  }
  footer > a > img {
    width: 20vw;
  }
  footer p {
    width: 55%;
    padding: 0 20px;
    line-height: 30px;
    font-size: 3vw;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  footer span {
    font-family: "sim";
    position: static;
    font-size: 3vw;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */